[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "5.4.1"
termcolor = "1.1.0"
boto3 = "==1.17.1"
semver = "2.13.0"

[dev-packages]
boto3-stubs = {extras = ["ecr", "sts"], version = "*"}

[requires]
python_version = "3.9"
